# This CODEOWNERS file follows the format of Github's CODEOWNERS.
# Documentation for reference: https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners.

* @charleschandesris
